
html, body {
    height: 100%;
}

body {
    background-color: #F5F5F5;
}

.blue-bar {
    background-color: #002B4D;
    padding: 10px 30px;
    color: #cccccc;
}

.link:focus,
.link:active,
.link:hover {
    opacity: 0.8;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

.box {
    padding: 30px;
    background: #ffffff;
    color: #666666;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.03);
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    border: 1px dashed rgba(255, 0, 0, 0.15);
    background-color: rgba(255, 0, 0, 0.08);
    padding: 10px;
    margin: 30px 0;
    font-family: Consolas, monospace;
    font-size: 14px;
}

.blue-bar a {
    text-decoration: none;
    color: white;
}